<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
        <div class="d-flex justify-content-between w-100 container-lg">
            <div class="d-flex align-items-center">
                <a class="navbar-brand" href="{% url 'products:product_list' %}">
                    <i class="fa-brands fa-shopify text-danger"></i>
                    <span class="text-dark title">Prime</span><span class="text-danger title">Picks</span>
                </a>
            </div>
            <div class="d-flex align-items-center">
                <!-- Form for large devices -->
                <form class="form-inline d-none d-lg-block" method="get" action="{% url 'products:search' %}">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="query" required>
                        <button type="submit" class="btn btn-warning">Search</button>
                    </div>
                </form>
                <!-- Collapsed navigation button for medium and small devices -->
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </nav>
    <!-- Form for medium and small devices -->
    <form class="form-inline d-block d-lg-none mt-2" method="get" action="{% url 'products:search' %}" > 
        <div class="input-group">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="query" required>
            <button type="submit" class="btn btn-warning">Search</button>
        </div>
    </form>
</div>