{% include 'products/partials/haeder.html' %}
{% include 'products/partials/nav.html' %}
{% include 'products/partials/alert.html' %}
{% load apply_discount %}
<section class="container">
    <div class="row mt-3">
        <div class="col-md-5">
            <!-- Product Image -->
            <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}" class="img-fluid shadow">
        </div>
        <div class="col-md-6">
            <h1>{{ product.product_name }}</h1>
            {% if product.product_discount > 0 %}
            <span class="text-muted text-decoration-line-through">${{ product.product_price}}</span>
            <span class="card-text m-0">${% apply_discount product.product_price product.product_discount %}</span>
            <small class="d-block text-muted small">Discount {{ product.product_discount }}%</small>
            {% else %}
            <p class="card-text m-0">${{ product.product_price}}</p>
            {% endif %}
            <p class="text-danger">Description: <br></p>

            <p>{{ product.product_details|linebreaksbr }}</p>
            <hr>
            <h2>Reviews</h2>
            <ul class="list-group">
                {% for review in product.reviews.all %}
                <li class="list-group-item">
                    {{ review.review_text }}
                    <br>
                    <small>Posted on: {{ review.created_at }}</small>
                    <div class="d-flex align-items-center">
                    </div>
                </li>
                {% empty %}
                <li class="list-group-item">No reviews yet.</li>
                {% endfor %}
            </ul>

            <h2>Add a Review</h2>
            <form method="post" action="{% url 'products:submit_review' product_id=product.product_id %}" class="mb-4">
                {% csrf_token %}
                <textarea name="review" class="form-control mb-2" rows="4"></textarea>
                <button type="submit" class="btn btn-primary">Submit Review</button>
            </form>
        </div>
    </div>
</section>
{% include 'products/partials/footer.html' %}