    {% include 'products/partials/haeder.html' %}
    {% include 'products/partials/nav.html' %}
    {% include 'products/partials/product_type_nav.html' %}
    {% include 'products/partials/alert.html' %}
    {% load apply_discount %}

    <section class="container">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mt-3">
            {% for product in products %}
            <div class="col mb-4">
                <div class="card h-100 shadow border-0 card-font">
                    <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}"
                        class="card-img-top product-image">
                    <div class="card-body">
                        <h5 class="card-title lead">{{ product.product_name }}</h5>
                        {% if product.product_discount > 0 %}
                        <span class="text-muted text-decoration-line-through">${{ product.product_price}}</span>
                        <span
                            class="card-text m-0">${% apply_discount product.product_price product.product_discount %}</span>
                        <small class="d-block text-muted small">Discount {{ product.product_discount }}%</small>
                        {% else %}
                        <p class="card-text m-0">${{ product.product_price}}</p>
                        {% endif %}
                        {% for _ in "12345" %}
                        <small><i class="fa-solid fa-star text-warning"></i></small>
                        {% endfor %}

                    </div>
                    <div class="card-footer text-center">
                        <a href="/products/details/{{ product.product_id }}" class="btn btn-outline-danger">View
                            Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% include 'products/partials/footer.html' %}