{% include 'products/partials/haeder.html' %}
{% include 'products/partials/nav.html' %}
{% include 'products/partials/alert.html' %}
{% load apply_discount %}
<section class="container">
    <h2 class="text-center mt-2">Search Results for "{{ query }}"</h2>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 mt-3">
        {% for product in products %}
        <div class="col mb-4">
            <a href="{% url 'products:product_details' product_id=product.product_id %}"
                class="text-decoration-none text-dark">
                <div class="card h-100 shadow border-0 card-font">
                    <img src="{{ product.product_image.url }}" alt="{{ product.product_name }}"
                        class="card-img-top product-image">
                    <div class="card-body">
                        <h5 class="card-title lead">{{ product.product_name }}</h5>

                        {% if product.product_discount > 0 %}
                        <span class="text-muted text-decoration-line-through">${{ product.product_price}}</span>
                        <span
                            class="card-text m-0">${% apply_discount product.product_price product.product_discount %}</span>
                        <br>

                        <small class="d-block small btn btn-danger text-light btn-small">{{ product.product_discount }}%
                            off</small>
                        {% else %}
                        <p class="card-text m-0">${{ product.product_price}}</p>
                        {% endif %}
                        <small class="d-inline">Product Quality </small>
                        {% for _ in "12345" %}
                        <small><i class="fa-solid fa-star text-warning text-center"></i></small>
                        {% endfor %}

                    </div>


                </div>
            </a>
        </div>
        {% empty %}
        <h2 class="no-search text-center">No results found.</h2>
        {% endfor %}

    </div>
</section>
{% include 'products/partials/footer.html' %}